{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, sunt ducimus repellat cupiditate accusantium eius maiores dicta tenetur dignissimos quas! Veritatis soluta nisi aliquid delectus? At dolore veritatis laborum fugiat officiis ex quae, rerum natus ad aliquam, impedit assumenda eos dolores eaque velit accusamus rem cumque illum obcaecati commodi deleniti consequatur unde. Et, fuga rerum consequuntur nihil quo itaque officiis voluptas consequatur hic ea alias laborum quam nesciunt eaque unde autem numquam quidem porro culpa adipisci dolorem nam, impedit voluptatem perspiciatis? Delectus eligendi rem nihil, ducimus, quos cumque non voluptatum mollitia tenetur dicta, obcaecati veniam architecto quasi! Ex, quod cum.</p>
    </section>

    <div class="text-center">
        <a class="btn btn-secondary" href="/signin/">
            Signin
        </a>
        <a class="btn btn-dark" href="/signun/">
            Signun
        </a>
    </div>
</main>
{% endblock %}